---
import Navbar from "@/components/Navbar.astro";
import Sidebar from "@/components/Sidebar.astro";
import TableOfContents from "@/components/TableOfContents.astro";
import "@/styles/global.css";

const { frontmatter, headings } = Astro.props;

const title = frontmatter.title as string;
const description = frontmatter.description as string;

type Heading = {
	depth: number;
	slug: string;
	text: string;
};
const headingList = headings as Heading[];
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<title>{title}</title>

		<script is:inline>
			window.addEventListener("DOMContentLoaded", async () => {
				window.pagefind = await import("/pagefind/pagefind.js");
				await window.pagefind.init();
			});
		</script>

		<script is:inline>
			if (
				localStorage.theme === "dark" ||
				(!("theme" in localStorage) &&
					window.matchMedia("(prefers-color-scheme: dark)").matches)
			) {
				document.documentElement.classList.add("dark");
			}
		</script>
	</head>

	<body class="bg-white dark:bg-zinc-900 min-h-screen">
		<Navbar />
		<Sidebar />

		<!-- Main content area -->
		<div class="pt-16 md:pl-64 lg:pr-64">
			<div class="max-w-4xl mx-auto px-8">
				<main class="py-16">
					<article
						data-pagefind-body
						class="prose prose-zinc dark:prose-invert lg:prose-xl"
					>
						{title && <h1>{title}</h1>}
						{description && <p>{description}</p>}

						<slot />
					</article>
				</main>
			</div>

			<TableOfContents headings={headingList} />
		</div>
	</body>
</html>
